
	<div style="margin:10px">
		
			<div *ngIf="emp">
				<h2>{{emp.name}} details!</h2>
                <div><label>id: </label>{{emp.id}}</div>
                <div><label>name: </label>{{emp.name}}</div>
				<div><label>Salary: </label> {{emp.salary}}</div>
			</div>
	</div>

	<div class="container" >
		<h1>Employee Template Driven Form </h1>
		<form (ngSubmit)="mySubmitMethod()">
		  <div class="form-group" >
			<label >Name</label>
			<input type="text" class="form-control" name="nameFirst" [(ngModel)]="employee.name">
		  </div>
  
		  <div class="form-group">
			<label for="alterEgo">Alter Ego</label>
			<input type="text"  class="form-control" name="Samary" [(ngModel)]="employee.salary">
		  </div>

  
		  <button type="submit" class="btn btn-success">Submit</button>
  
		  {{employee | json}}
		</form>
	</div>